#queryeditor{
	float:left;
	width:39%;
}

#queryeditor > textarea{
	width:100%;
	resize:none;
}

#sparqlresults{
	float:right;
	width:59%;
}

.owlClass{
	color:red;
}

.dataProp{
	color:green;
}

.objProp{
	color:blue;
}
