@(qProfile: String, qryText: String = "select * where{?s rdfs:label \"Scala\"@en}")

@main(title = "SPARQL Query Builder"){

	<script src="@routes.Assets.at("javascripts/index.js")"></script>
	<script>$(function(){
					evalSparql();
					getQueryProfile('@{qProfile}');
				})</script>
	
	<div id="queryeditor">
		<h2>Query editor</h2>
	
		@qprofileselector()
	
		<textarea rows="20" id="querytext">@qryText</textarea><br/>
		<input type="submit" value="Evaluate query" onclick="evalSparql();"/>
		
		<div id="queryProfile">
			<h2>Query profile</h2>
			<div id="queryProfileList"></div>
		</div>
	</div>
	
	<div id="sparqlresults">
		<h2>Query results</h2>
		<div id="sparqlResultsTable"></div>
	</div>
}
